.sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
}
.text-addres {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #868686;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 22px;
}
.right {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.conteiner {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1172px;
}
.mobile {
  display: none;
}
.desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftmobile {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  gap: 44px;
}
.rightmobile {
  display: flex;
  flex-direction: column;
  padding-right: 3px;
  padding-top: 2px;
}

//=====================================================================

//=====================================================================

@media screen and (max-width: 710px) {
  .conteiner {
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .leftmobile {
    gap: 26px;
  }
}
