.con {
  height: 500px;
  width: 100%;
}

.slide {
  height: 500px;
  width: 500px;
  background: red;
}

.st {
  width: 100px;
  height: 100px;
  background: blue;
}
.st2 {
  width: 100px;
  height: 100px;
  background: green;
}
.prpo {
  width: 100px;
  height: 100px;
  background-image: url("/src/images/logoHeader.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
